@model IEnumerable<ShoppingCartItem>
@{
    ViewData["Title"] = "Shopping Cart Items";
}

<div class="row">

    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h3>Shopping Cart Summery</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>SubTotal</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Product.Name</td>
                        <td class="align-middle">@item.Product.Price</td>
                        <td class="align-middle">@(item.Amount * item.Product.Price)</td>
                        <td>
                            <a asp-controller="Order" asp-action="RemoveFromCart" asp-route-id="@item.Product.Id">
                                <i class="fas fa-regular fa-minus"></i>
                            </a>
                            <a asp-controller="Order" asp-action="AddToCart" asp-route-id="@item.Product.Id">
                                <i class="fas fa-regular fa-plus"></i>
                            </a>
                        </td>

                    </tr>
                }

            </tbody>

            <tfoot>
                <tr class="collapse-2">
                    <td><strong>Total:</strong></td>
                    <td>@(ViewBag.Total)</td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <div class="btn btn-group">
                <a class="btn btn-outline-info" asp-controller="Products" asp-action="Index">
                    <i class="fas fa-regular fa-refresh mr-2"></i>
                    Continue
                </a>
                @if (Model.Any())
                {
                    <a class="btn btn-outline-success" asp-controller="Order" asp-action="CompleteOrder">
                        <i class="fas fa-regular fa-check mr-2"></i>
                        Complete Order
                    </a>

                }

            </div>

        </div>


    </div>
</div>
